<a href="#" class="cart-box" id="cart-info" title="View Cart">
    2
</a>
<div class="shopping-cart-box">
    <a href="#" class="close-shopping-cart-box" >Close</a>
    <h3>Your Shopping Cart</h3>
    <div id="shopping-cart-results">
    </div>
</div>