
<footer>
    <div class="b-footer-body container">
        <div class="row">
            <div class="col-md-8">
                <div class="footer-menu-item wow fadeInLeft">
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAuO76KP8hGmbPf9PTl6jdxnIaOp32QxDo&q=extra+optic+in+Morocco" allowfullscreen>

                    </iframe>


                </div>
            </div>
            <div class=" col-md-4">
                <div class="text-right wow fadeInRight">
                    <div style="float: right; ;" class="col-md-6 ">

                        <a rel="home" href="/" title="ExtraOptic"> <img
                                    class="img-responsive" style= "margin-top:2%" src="{{ asset('logo/lastLogo.png')}}" />
                        </a>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="b-footer-contacts">
                        <div class="footer-contacts-list">
                            <ul class="list-unstyled">
                                <li>
                                    115, Boulevard Ghandi, Casablanca, Maroc
                                </li>
                                <li>
                                    Tél : 05 22 23 33 48
                                </li>
                                <li>
                                    GSM : 06 80 79 74 71
                                </li>
                                <li>
                                    Email : extraoptic@gmail.com
                                </li>
                                <li>
                                    Ouvert toute la semaine :
                                        9:00 h - 13:30 h
                                </li>
                                <li>

                                    15:00h- 20:00 h
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="b-socials clearfix">
                        <ul class="list-inline">
                            <li><a href="https://twitter.com/"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw"></i></a></li>
                            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin fa-fw"></i></a></li>
                            <li><a href="https://vimeo.com/"><i class="fa fa-vimeo fa-fw"></i></a></li>
                            <li><a href="https://www.rss.com/"><i class="fa fa-rss fa-fw"></i></a></li>
                            <li><a href="https://plus.google.com/"><i class="fa fa-google-plus fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-footer-add">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix">
                        <div style="text-align: center">
                            <p>
                                © Copyright 2016 - Extra Optic - All Rights Reserved.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
