<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>

    /* *********************************
               Big Logo
      ********************************** */
    .container {
        margin:0px !important;
        width:100% !important;

    }

    .navbar-nav>li>a:before {
        padding: 0px !important;
    }
    /*
    .active {
        background-color: #58D3F7 !important;
    }
*/
    .navbar {
        margin-bottom: 0;
        background-color: white !important;                /* Good browsers */
        opacity:0.8 !important;
        height:60px !important;
    }

    .nav .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .row {
        /*transparency*/
        background-color: transparent !important;                /* Good browsers */
    }

    .navbar-nav li a {
        line-height: 28px !important;
        color:black !important;
        font-weight: 600;
    }

    /*submenu hover*/
    .navbar-nav li a:hover {
        color:red !important;

    }
    .navbar-nav > li > a:hover {
        color:red !important;
    }

    .navbar-nav > ul > li > a:hover {
        color:red !important;
    }
    /*show drop menu on hover*/
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;

    }
    ul.nav li.dropdown:hover > ul .dropdown-menu {
        display: block;
    }

    @media (min-width: 979px) {
        ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
    }


/*change the default 768 pixels (max-width: 1130px)*/
    @media  (max-width: 1130px) {
  /*
        .navbar-collapse.collapse {
            display: none !important;
        }

        .navbar-collapse.collapse.in {
            display: block !important;
        }
        .navbar-header .collapse, .navbar-toggle {
            display:inline !important;
        }
        .navbar-header {
            float:none;
        }



        .nav{
           position: absolute;
       }
*/
        .navbar-collapse.collapse {
            display: none !important;
        }

        .navbar-collapse.collapse.in {
            display: block !important;
        }
        .navbar-header .collapse, .navbar-toggle {
            display:inline !important;
        }

        #marquesLiA{

            font-size: 17px !important;
            padding-top: 10px !important;
        }
        .heading-line {
            font-size: 17px !important;
            padding-top: 10px !important;
        }
        .last-child {
            font-size: 17px !important;
            padding-top: 10px !important;
        }

        .heading-line-li  {
            width: 100% !important;
        }

        #marquesLi {
            width: 100% !important;
        }

        li{
           /* float:none !important;

         */ display: inline !important;
        }
        }


    @media  (min-width: 768px) and (max-width: 1130px) {
        .nav{

           /* padding-top: 60px !important;*/
        }}

</style>


<script>
//Can go in a sperate .js file as well


$(window).bind('DOMContentLoaded load resize', function () {
    if ($(window).innerWidth() <= 979) {
     $('#marquesLi').removeClass('dropdown');
    }
});

</script>

<body>

<nav class="navbar navbar-default navbar-center navbar-fixed-top"
     style="background-color: white;" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="row">
            <div style=" ;" class="navigation-left  col-md-12 ">
                <div style="float: left; ;" class="col-md-3 ">

                <a rel="home" href="/" title="ExtraOptic"> <img
                            class="img-responsive" style= "margin-top:2%" src="{{ asset('logo/lastLogo.png')}}" />
                </a>
                </div>
                <div  class=" col-md-9"  style="background-color: white;">
                <div class="navbar-header" style="float: right;" >
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span>
                    </button>


                </div>

                <!-- Collect the nav links, forms, and other content for toggling style= "color:black !important"  -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  style="height: 100% !important;width:100%;color:black !important;">
                    <ul class="nav navbar-nav"  style="text-align:center;">
                        <li id="marquesLi" class="dropdown">
                            <a id="marquesLiA" class="dropdown-toggle" data-toggle="dropdown"
                               >NOS MARQUES</a>
                            <ul  class="dropdown-menu" role="menu" style="text-align:center;" >
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/Fendi">Fendi</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/Anahickmann">Ana Hickmann</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/Chopard">Chopard</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/BurBerry">BurBerry</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/Carolina">Carolina</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/MarcJacobs">Marc Jacobs</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/Police">Police</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/RalphLauren">Ralph Lauren</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/RayBan">Ray Ban</a>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target=".navbar-collapse.in" href="/marque/TomFord">Tom Ford</a>
                                </li>
                            </ul>
                        </li>

                        <li class="heading-line-li" >
                            <a class="heading-line" href="/solaire">LUNETTES SOLAIRES</a>
                        </li>
                        <li class="heading-line-li">
                            <a class="heading-line" href="/optique">LUNETTES OPTIQUES</a>
                        </li>
                        <!--
                        <li>
                            <a class="navbar-brand" href="#">
                                <img class="scroll-logo hidden-xs" src="images/logo.png" alt="logo">
                            </a>

                        </li> -->
                        <li class="heading-line-li">
                            <a class="heading-line" href="/enfant">MENU ENFANTS</a>
                        </li>

                        <li class="heading-line-li">
                            <a class="heading-line" href="/offres">NOS OFFRES</a>
                        </li>

                        <li class="heading-line-li">
                            <a class="last-child" href="/contact">NOUS CONTACTER</a>
                        </li>

                    </ul>

                </div>
                <!-- /.navbar-collapse -->
<!--9-->
            </div>
                <!--12-->
            </div>
            <!--
            <div class="col-lg-6 col-sd-6" style="margin-top: 5px">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Go</button>
							</span>
                    </div>
                </form>


            </div>
             row -->
        </div>
        <!-- /big logo container -->


    </div>
    <!-- /.container-fluid -->

</nav>

</body>

</html>