
<!--End of Tawk.to Script-->

<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExtraOptic - C'est Extra !</title>
    <link href="css/master.css" rel="stylesheet">



    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5944582e50fd5105d0c81797/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>


</head>
<body>

<!-- Loader-->
<div id="page-preloader"><span class="spinner"></span></div>


<!-- Loader end -->
<div class="b-page" canvas="container">

    <header class="header


				header-topbar-hidden

				header-normal-width


				header-menu-middle


				header-color-black
				header-logo-black

				header-topbarbox-1-left


				">


    </header>


    {% include 'navbar.html.twig' %}

    <!---charger element pour lightslider APRES NAVBR--->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/lightslider.css" />

    <script src="js/lightslider.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.lightSlider').lightSlider({
                item: 5,
                loop: true,
                slideMargin: 0,
                thumbItem: 7
            });
        });
    </script>


    <section class="section-home home-1">
        <section class="main-slider">
            <div class="slider-pro full-width-slider" id="main-slider" data-width="100%" data-height="800" data-fade="true" data-buttons="true" data-arrows="false" data-next-slide=".pro-next" data-previous-slide=".pro-prev" data-wait-for-layers="true" data-thumbnail-pointer="false" data-touch-swipe="false" data-autoplay="true" data-auto-scale-layers="true" data-visible-size="100%" data-force-size="fullWidth" data-autoplay-delay="5000" >
                <div class="sp-slides">
                    <div class="sp-slide slide-1 b-home-big-text">
                        <img class="sp-image" src="media/home/home1.jpg"
                             data-src="media/home/home1.jpg"
                             data-retina="media/home/home1.jpg" alt="/" />
                        <div class="container">
                            <div class="sp-layer layer-1-1 slide-tex-1 text-center"
                                 data-vertical="13%"
                                 data-show-transition="top" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                                <h4 class="text-uppercase">
                                    Extra Optic
                                </h4>
                            </div>
                            <div class="sp-layer layer-1-2 slide-tex-1 text-center"
                                 data-vertical="20%"
                                 data-show-transition="left" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                                <h3>
                                    <strong>Lunetterie-Optométrie-Contactologie</strong>
                                </h3>

                            </div>
                       </div>
                    </div>
                    <div class="sp-slide slide-2 b-home-big-text">
                        <img class="sp-image" src="media/home/home2.jpg"
                             data-src="media/home/home2.jpg"
                             data-retina="media/home/home2.jpg" alt="/" />
                        <div class="container">
                            <div class="sp-layer layer-2-1 slide-tex-2 text-left"
                                 data-vertical="25%"
                                 data-show-transition="top" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                                <h4>
                                    Découvrez la collection 2017
                                </h4>
                            </div>
                            <div class="sp-layer layer-2-2 slide-tex-2 text-left"
                                 data-vertical="33%"
                                 data-show-transition="right" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                                <h4>
                                    <strong>Service complet pour vos lentilles de</strong> <br/><strong>Scontact & lunetterie et l'optique</strong>
                                </h4>
                                <h2>
                                    <strong>Prix très compétitifs</strong>
                                </h2>
                            </div>
                            <div class="sp-layer layer-2-3 slide-tex-2 text-left"
                                 data-vertical="49%"
                                 data-show-transition="right" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">

                            </div>
                        </div>
                    </div>

                    <div class="sp-slide slide-2 b-home-big-text">
                        <img class="sp-image" src="media/home/home3.jpg"
                             data-src="media/home/home3.jpg"
                             data-retina="media/home/home3.jpg" alt="/" />
                        <div class="container">
                            <div class="sp-layer layer-3-1 slide-tex-3 text-left"
                                 data-vertical="25%"
                                 data-show-transition="top" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                                <h3>
                                    Découvrez notre collection Extra Enfants
                                </h3>
                            </div>
                            <div class="sp-layer layer-3-2 slide-tex-3 text-left"
                                 data-vertical="33%"
                                 data-show-transition="right" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">
                                <h2>
                                    <strong>Qualité et entretien</strong>
                                </h2>
                                <h4>
                                    <strong>Extra Optic</strong>
                                </h4>
                            </div>
                            <div class="sp-layer layer-3-3 slide-tex-3 text-left"
                                 data-vertical="49%"
                                 data-show-transition="right" data-hide-transition="up" data-show-delay="600" data-hide-delay="100">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-pro-contr">
                <div class="pro-next">
                    <span></span>
                </div>
                <div class="contr-divider"></div>
                <div class="pro-prev">
                    <span></span>
                </div>
            </div>
        </section>
        <div class="b-main-categories">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 wow fadeInLeft">
                        <div class="b-main-cat cat1 text-left">
                            <div class="b-image">
                                <div class="grid">
                                    <figure class="effect-layla">
                                        <img src="media/home/ahome-2.jpg" alt="/">
                                        <figcaption>
                                            <a href="solaire">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="categories-title" style="margin-left: 15%">
                                <div>
                                    <h2 class="heading-light-merri">EXTRA SOLAIRE</h2>
                                        <p>Des lunettes solaires à tous les goûts et les couleurs!</p>
                                </div>
                                <div>
                                    <h4>Découvrez notre collection</h4>
                                    <a class="solo-arrow" href="solaire"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 wow fadeInRight">
                        <div class="b-main-cat cat2 text-right">
                            <div class="b-image">
                                <div class="grid">
                                    <figure class="effect-layla">
                                        <img src="media/home/home-3.jpg" alt="/">
                                        <figcaption>
                                            <a href="/optique">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="categories-title" style="text-align:left; float:none;margin-left: 20%">
                                <div>
                                    <h2 class="heading-light-merri">EXTRA OPTIQUE</h2>
                                    <p>Des montures de toutes les marques internationales</p>

                                </div>
                                <div>
                                    <h4>Découvrez notre collection</h4>
                                   <a class="solo-arrow solo-arrow-left" href="category-2.html"><span class="ef arrow_left"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <!--Second Row children -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 wow fadeInLeft">
                        <div class="b-main-cat cat1 text-left">
                            <div class="b-image">
                                <div class="grid">
                                    <figure class="effect-layla" style="margin-left:30px">
                                        <img src="media/home/children2.jpg" alt="/">
                                        <figcaption>
                                            <a href="/enfant">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="categories-title"  style="margin-left: 5%">
                                <div>
                                    <h2 class="heading-light-merri">EXTRA ENFANTS</h2>

                                </div>
                                <div>

                                    <p>Faites plaisir à vos enfants !</p>
                                    <h5>Découvrez notre collection</h5>
                                    <a class="solo-arrow" href="category-1.html"><span class="ef arrow_right"></span></a>

                                </div>

                            </div>
                        </div>
                    </div>
                     </div>
            </div>
        </div>

        <div class="b-home-items">
            <div class="heading-big text-center wow fadeInUp">

                <h2>
                    <strong>Découvrez nos EXTRA MARQUES</strong>
							<span>
								Des choix à tous les goûts et couleurs
							</span>
                </h2>
            </div>
            <div class="container">
                <div class="row">
                   <div class="hidden-xs col-sm-4 col-md-3 col-lg-3 wow fadeInLeft">
                        <div class="b-home-deal">

                            <img src="media/home/promo.png" class="img-responsive center-block" alt="/">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 wow fadeInUp">
                        <div class="row">
                            <div class="b-home-series">

                                {% for i in 0..5 %}
                                <div class="col-md-4 col-sm-4 wow fadeInLeft">
                                    <div class="b-item-card-mod">
                                        <div class="product-image">
                                            <a href="/article/{{articlesbyviews[i].getArticleUrl()}}">
                                                <!--img src="media/item-card-media/rsz_1burberry_b_1309-q_1224.png" class="img-responsive center-block" alt="/"-->
                                                <img class="img-responsive center-block"
                                                     src="{{asset(articlesbyviews[i].getImageGauche600x250path())}}"
                                                     alt="{{articlesbyviews[i].description}}"
                                                     title="{{articlesbyviews[i].description}}"
                                                     style="width:200px;height:120px;"
                                                      >

                                            </a>
                                       </div>
                                        <div class="caption">
                                            <p class="product-price">
                                                {{  articlesbyviews[i].getMarque().getNomMarque()  }}
                                            </p>
                                            <p class="product-name">
                                                {{articlesbyviews[i].description}}
                                            </p>

                                            <p class="product-price">
                                            En Stock
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                </div>
            </div>
        </div>
<style>
     .active{
        background-color: white !important;
    }
</style>

       <div class="b-brands">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="text-center ">
                            <h2>
                                <strong>Nos EXTRA MARQUES</strong>
                            </h2>
                        </div>
                        <br>
                        <br>
                        <ul class="lightSlider" ><!---brands-list--->
                            <li >
                                <a href="/marque/TomFord">
                                <img src="media/brands-logos/TomFord.png" class="img-responsive center-block" alt="/">
                                </a>
                            </li>
                            <li>
                                <a href="/marque/RalphLauren">
                                <img src="media/brands-logos/RalphLauren.jpg" class="img-responsive center-block" alt="/">
                                </a>
                            </li>

                            <li>
                                <a href="/marque/RayBan">
                                    <img src="media/brands-logos/RayBan.png" class="img-responsive center-block" alt="/">
                                </a>
                            </li>
                            <li>
                                <a  href="/marque/BurBerry">

                                    <img class="img-responsive" src="media/brands-logos/BurBerry.jpg" class="img-responsive center-block" alt="/">
                                </a></li>
                            <li>  <a href="/marque/Carolina">
                                    <img class="img-responsive" src="media/brands-logos/Carolina.png" class="img-responsive center-block" alt="/">
                                </a></li>
                            <li>

                                <a href="/marque/MarcJacobs">
                                    <img class="img-responsive" src="media/brands-logos/MarcJacobs.png" class="img-responsive center-block" alt="/">
                                </a>
                            </li>
                            <li>
                                <a href="/marque/Police">
                                    <img class="img-responsive"  src="media/brands-logos/Police.png" class="img-responsive center-block" alt="/">
                                </a>
                            </li>
                            <li>
                                <a href="/marque/Chopard">
                                    <img class="img-responsive" src="media/brands-logos/Chopard.jpg" class="img-responsive center-block" alt="/">
                                </a>
                            </li>
                            <li>
                                <a href="/marque/Anahickmann">
                                    <img class="img-responsive" src="media/brands-logos/ANAHICKMANN.jpg" class="img-responsive center-block" alt="/">
                                </a>
                            </li>
                            </ul>
                    </div>



                    <div class="col-xs-12 col-sm-12" style="margin-top: 60px">

                        <div class="text-center ">
                            <h2>
                                <strong>Nos EXTRA VERRES</strong>
                            </h2>
                        </div>
                        <br>
                        <br>

                        <ul class="lightSlider"  >

                            <li>
                                <img src="media/brands-logos/rsz_rodenstock.jpg" class="img-responsive center-block" alt="/">

                            </li>

                            <li>
                                   <img src="media/brands-logos/rsz_bourgeois.jpg" class="img-responsive center-block" alt="/">

                            </li>
                            <li>
                                   <img src="media/brands-logos/rsz_essilor.jpg" class="img-responsive center-block" alt="/">
                            </li>
                            <li>   <img src="media/brands-logos/rsz_kodak.jpg" class="img-responsive center-block" alt="/">
                                </li>
                            <li>

                                   <img src="media/brands-logos/rsz_nikon.jpg" class="img-responsive center-block" alt="/">
                                </li>
                            <li>
                                   <img src="media/brands-logos/rsz_zeiss.png" class="img-responsive center-block" alt="/">
                                </li>
                            <li>

                                <img src="media/brands-logos/rsz_indo.jpg" class="img-responsive center-block" alt="/">
                            </li>
                            <li>
                                <img src="media/brands-logos/rsz_hoya.jpg" class="img-responsive center-block" alt="/">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
</section>

{% include 'footer.html.twig' %}

    <!--
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    -->

<script src="assets/switcher/js/dmss.js"></script>


<script src="js/modernizr.custom.js"></script>
<script src="js/wow.min.js"></script>

<!--<bootstrap-select -->
<!--<bootstrap-select -->
<script src="assets/bootstrap-select/bootstrap-select.min.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Countdown Timer -->
<script src="assets/countdown/dscountdown.min.js"></script>

<!--Owl Carousel-->
<script src="assets/owl-carousel/owl.carousel.min.js"></script>

<!--bx slider-->
<script src="assets/bxslider/jquery.bxslider.min.js"></script>

<!-- slider-pro-master -->
<script src="assets/slider-pro-master/js/jquery.sliderPro.min.js"></script>

<script src="js/jquery.spinner.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>



<script src="assets/header/slidebar.js" type="text/javascript"></script>
<script src="assets/header/header.js" type="text/javascript"></script>


<script src="js/theme.js"></script>

</div>
</body>
</html>
