<!DOCTYPE html>
<html>
    <script src='../js/jquery-1.8.3.min.js'></script>
    <script src='../js/jquery.elevatezoom.js'></script>



<body>


{% set foo  = article.getImageGauche600x250path() %}
{% set foo2 = article.getImageGauche800x350path() %}

{% set foo3 = article.getImageDroite600x250path() %}
    

{% set foo4 = article.getImageDroite800x350path() %}

{% set foo5 = article.getImageProfil600x250path() %}

{% set foo6 = article.getImageProfil800x350path() %}


<div id="article" style="margin-top: 120px">
<div id="gal1" style="position:absolute ;margin-top:5%;margin-right:auto;" ><!--margin-left:40%;--->

    <a href="#"  class= "active" data-image="{{asset(foo)}}"
       data-zoom-image="{{asset(foo2)}}">
        <img style ="height: 80px;width:80px" id="img_01"
             src="{{asset(foo2)}}"
                />
    </a>
    {% if foo3 is not null%}
    <a href="#"  data-image="{{asset(foo3)}}"
       data-zoom-image="{{asset(foo4)}}">
        <img style ="height: 80px;width:80px" id="img_02"
             src="{{asset(foo4)}}"/>
    </a>
    {% endif %}

    {% if foo5 is not null%}

    <a href="#" data-image="{{asset(foo5)}}"
       data-zoom-image="{{asset(foo6)}}">
        <img style ="height: 80px;width:80px" id="img_03"
             src="{{asset(foo6)}}"/>
    </a>
    {% endif %}

</div>

<img id="zoom_03"  src="{{asset(foo)}}"
     data-zoom-image="{{asset(foo2)}}"
     class="img-responsive"  style="margin-left:auto;margin-right:auto;"/>


</div>
<!--- style="margin-left:150px"  -->
    
<script>
    $('#zoom_03').elevateZoom({
        zoomType: "inner",
        cursor: "crosshair",
        zoomWindowFadeIn: 500,
        zoomWindowFadeOut: 750,
        gallery : "gal1",
        galleryActiveClass: "active"

    });
	/*
    $("#zoom_03").bind("click", function(e) {
        var ez =   $('#zoom_03').data('elevateZoom');
        $.fancybox(ez.getGalleryList());
        return false;
    });*/
</script>
  

<style>

    #gal1 img{border:2px solid white;}

    /*Change the colour*/
    .active img{border:2px solid #333 !important;}
    @media screen and (max-width: 640px) {
        .zoomContainer{
            height:100px !important;
        }
        #zoom_03 {
            margin-top:0px;
            margin-left:10px !important;
        }
        #gal1{
            margin-top:0px;
            margin-left: 0 !important;
                position : relative !important;
        }
        #article{
            margin-top:40px !important;

        }


        #details{
            padding-left: 0 !important;
            margin-top: 50px !important;
        }
   }
</style>
</body>
</html>