<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExtraOptic - C'est Extra !</title>
    <link href="css/master.css" rel="stylesheet">

        <style>
        #details{
            z-index: 1;

        }
        @media screen and (max-width: 640px) {

            .b-page-header-mod{
                height:310px;
            }
            #details {

                top: 210px !important;
            }
            .section-product{
                top:50px;
                margin-bottom: 0px;
            }

            .section-product .b-page-header-mod {
                margin-bottom: 0px;
            }
        }
    </style>

</head>
<body>


<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->



<div > <!---class="b-page" canvas="container"-->

    <header class="header


				header-topbar-hidden

				header-normal-width


				header-menu-middle


				header-color-black
				header-logo-black

				header-topbarbox-1-left
                ">

        <!--<div class="container container-boxed-width ">
            <div style=" height:auto;margin-top:80px ">
                <img style="height:80px;width:100%;" src="images/logoExtra.png">
            </div>
        </div>-->

    </header>



    {% include 'navbar.html.twig' %}


    <section class="section-product">

        <div style="margin-top: 60px;">
            <div class="heading-big text-center wow fadeInUp"
                 style=" width:auto; background-repeat:no-repeat;;  "
                    >
                <div class="heading-icon">
                    <span class="ef icon_gift_alt"></span>
                </div>
                <h1>
                    <strong>Nous contacter</strong>
                </h1>
                <h2>
                    <p style="text-transform :none;  font-family:Copperplate, cursive">Extra Optic</p>
                </h2>
            </div>
            <div class="b-rb-card-">
                <div class="container">
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}

                    <form action="/contact" method="post" class="form-horizontal">
                        {{ form_errors(form) }}

                        <div class="form-group">
                            <label class="control-label col-sm-2 required" for="form_Nom">Nom :</label>
                            <div class="col-sm-10">
                                <input type="text" id="form_Nom" class="form-control" id="Nom"
                                     style="width:80%"  required="required" placeholder="Votre nom" name="Nom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2 required" for="form_Prenom">Prenom :</label>
                            <div class="col-sm-10">
                                <input type="text" id="form_Prenom" class="form-control" id="Prenom"
                                       style="width:80%"   required="required" placeholder="Votre prenom" name="Prenom">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2 required" for="form_Sujet">Sujet :</label>
                            <div class="col-sm-10">
                                <input type="text" id="form_Sujet" class="form-control" id="Sujet"
                                       style="width:80%"   required="required" placeholder="Sujet" name="Sujet">
                            </div>
                        </div>
                        {# form_row(form.Sujet) #}

                        <div class="form-group">
                            <label class="control-label col-sm-2 required" for="form_email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" id="form_email" class="form-control" id="email"
                                       style="width:80%"  required="required" placeholder="Votre email" name="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2 required" for="form_message">Message :</label>
                            <div class="col-sm-10">
                                <textarea id="form_message" rows="5"
                                          placeholder="Votre texte"
                                          style="width:80%" name="form[message]" required="required" class="form-control">

                                </textarea>
                            </div>
                        </div>
                        {# form_row(form.message) #}


                        <button style="margin-left:70%;color:red" type="submit" class="btn btn-default">Envoyer</button>

                    </form>

                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html.twig' %}
</div>

<script src="assets/switcher/js/dmss.js"></script>

<script src="js/jquery-ui.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/wow.min.js"></script>

<!--bootstp-select -->
<script src="assets/bootstrap-select/bootstrap-select.min.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Countdown Timer -->
<script src="assets/countdown/dscountdown.min.js"></script>

<!--Owl Carousel-->
<script src="assets/owl-carousel/owl.carousel.min.js"></script>

<!--bx slider-->
<script src="assets/bxslider/jquery.bxslider.min.js"></script>

<!-- slider-pro-master -->
<script src="assets/slider-pro-master/js/jquery.sliderPro.min.js"></script>

<script src="js/jquery.spinner.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3" type="text/javascript"></script>
<script src="js/map.js" type="text/javascript"></script>

<script src="assets/header/slidebar.js" type="text/javascript"></script>
<script src="assets/header/header.js" type="text/javascript"></script>


<script src="js/theme.js"></script>

</body>
</html>
