<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExtraOptic - C'est Extra !</title>
    <link href="../css/master.css" rel="stylesheet">

    <style>
        #details{
            z-index: 1;

        }
        .pagination{
            display: flex !important;
            justify-content: center;
        }
        @media screen and (max-width: 640px) {

            .b-page-header-mod{
                height:310px;
            }
            #details {

                top: 210px !important;
            }
            .section-product{
                top:50px;
                margin-bottom: 0px;
            }

            .section-product .b-page-header-mod {
                margin-bottom: 0px;
            }
        }
    </style>

</head>
<body>


<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->

<!-- paginations -->
<div class="loading-div"><img src="loader.gif" ></div>
<div id="results"><!-- content will be loaded here --></div>


<div > <!---class="b-page" canvas="container"-->

    <header class="header


				header-topbar-hidden

				header-normal-width


				header-menu-middle


				header-color-black
				header-logo-black

				header-topbarbox-1-left
                ">

        <!--<div class="container container-boxed-width ">
            <div style=" height:auto;margin-top:80px ">
                <img style="height:80px;width:100%;" src="images/logoExtra.png">
            </div>
        </div>-->

    </header>



    {% include 'navbar.html.twig' %}


    <section class="section-product">

        <div style="margin-top: 60px;">
            <div class="heading-big text-center wow fadeInUp">
                <div class="heading-icon">
                    <span class="ef icon_gift_alt"></span>
                </div>
                <h1>
                    <img src="../media/brands-logos/{{ marque |replace({' ':''})}}.jpg"
                         class="img-responsive center-block" alt="/">


                    <strong style="color:  black; font-family:' Arial, Helvetica, sans-serif' ">{{ marque }}</strong>
                </h1>
                <h2>
                    <p style="text-transform :none;  font-family:Copperplate, cursive">Collection 2017</p>
                </h2>
            </div>
            <div class="b-rb-card-">
                <div class="container">
                    <div class="row">

                        {# total items count #}

                        <table>

                            {% set i=0 %}
                            {# table body #}
                            {% for article in pagination %}
                                <tr {% if loop.index is odd %}class="color"{% endif %}>

                                    <div class="col-md-4 col-sm-4 wow fadeInLeft">
                                        <div class="b-item-card-mod">
                                            <div class="product-image">
                                                <a href="/article/{{pagination.items[i].getArticleUrl()}}">
                                            <img style="height:190px;width:250px;"
                                                 src="{{asset(pagination.items[i].getImageGauche600x250path())}}"

                                                 alt="/">
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <p class="product-name">
                                            {{ pagination.items[i].getMarque().getNomMarque() }}
                                        </p>
                                        <p class="product-price">
                                            {{ pagination.items[i].description }}
                                        </p>
                                        {% if pagination.items[i].enStock == 1 %}
                                            <p class="product-price">
                                                En stock
                                            </p>
                                        {% else %}
                                            <p class="product-price">
                                                Stock épuisé
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {#losing the row #}
                        {% if loop.index  is divisible by(3) %}
                           </div><div class="row">
                        {% endif %}




                        </tr>
                        {% set i=i+1 %}
                        {% endfor %}
                        </table>

                        <!--                         {#% for article in articlemarques %}
  <div class="col-md-4 col-sm-4 wow fadeInLeft">
                                <div class="b-item-card-mod">
                                    <div class="product-image">
                                        <a href="/article/{#{as.getId()}}">
                                            <img style="height:190px;width:250px;"
                                                 src="data:image/jpg;base64,{#{as.getEncodedGaucheImage600x250()}}"

                                                 class="img-responsive center-block" alt="/">
                                        </a>
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <p class="product-name">
                                            {{ as.getMarque().getNomMarque() }}
                                        </p>
                                        <p class="product-price">
                                            {{ as.description }}
                                        </p>
                                        {% if as.enStock == 1 %}
                                            <p class="product-price">
                                                En stock
                                            </p>
                                        {% else %}
                                            <p class="product-price">
                                                Stock épuisé
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>--->
                        {#losing the row #}
                        {#% if loop.index  is divisible by(3) %}
                           </div><div class="row">
                        {% endif %}

                        {% endfor %#}

                </div>


            </div>
        </div>
    </section>
-->

</div>
                   {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>


                    {% include 'footer.html.twig' %}

<script src="../assets/switcher/js/dmss.js"></script>

<script src="../js/jquery-ui.min.js"></script>
<script src="../js/modernizr.custom.js"></script>
<script src="../js/wow.min.js"></script>

<!--bootstrap-select -->
<script src="../assets/bootstrap-select/bootstrap-select.min.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Countdown Timer -->
<script src="../assets/countdown/dscountdown.min.js"></script>

<!--Owl Carousel-->
<script src="../assets/owl-carousel/owl.carousel.min.js"></script>

<!--bx slider-->
<script src="../assets/bxslider/jquery.bxslider.min.js"></script>

<!-- slider-pro-master -->
<script src="../assets/slider-pro-master/js/jquery.sliderPro.min.js"></script>

<script src="../js/jquery.spinner.min.js"></script>
<script src="../js/isotope.pkgd.min.js"></script>
<script src="../js/jquery.placeholder.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3" type="text/javascript"></script>
<script src="../js/map.js" type="text/javascript"></script>

<script src="../assets/header/slidebar.js" type="text/javascript"></script>
<script src="../assets/header/header.js" type="text/javascript"></script>


<script src="../js/theme.js"></script>

</body>
</html>
