<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExtraOptic - C'est Extra !</title>
    <link href="css/master.css" rel="stylesheet">

      <style>
        #details{
            z-index: 1;

        }
        @media screen and (max-width: 640px) {

            .b-page-header-mod{
                height:310px;
            }
            #details {

                top: 210px !important;
            }
            .section-product{
                top:50px;
                margin-bottom: 0px;
            }

            .section-product .b-page-header-mod {
                margin-bottom: 0px;
            }
        }
    </style>

</head>
<body>


<!-- Loader -->
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->



<div > <!---class="b-page" canvas="container"-->

    <header class="header


				header-topbar-hidden

				header-normal-width


				header-menu-middle


				header-color-black
				header-logo-black

				header-topbarbox-1-left
                ">



    </header>



    {% include 'navbar.html.twig' %}


    <section class="section-product">

        <div style="margin-top: 60px;">
            <div class="heading-big text-center wow fadeInUp"
                 style="    /*background-size: 100% 150px;*/background-image: url(media/home/home-3-old.jpg);height:100%; width:100%; background-repeat:no-repeat;  "
                    >
                <div class="heading-icon">
                    <span class="ef icon_gift_alt"></span>
                </div>
                <h1>
                    <strong>Extra Optique</strong>
                </h1>
                <h2>
                    <p style="text-transform :none;  font-family:Copperplate, cursive">Collection Lunettes Optiques 2017</p>
                </h2>
            </div>
            <div class="b-rb-card-">
                <div class="container">
                    <div class="row">

                        {% for as in articleoptiques %}
                            <div class="col-xs-6 col-sm-4 wow fadeInLeft">
                                <div class="b-item-card-mod">
                                    <div class="product-image">
                                        <a href="/article/{{as.getArticleUrl()}}">
                                            <img style="height:190px;width:250px;"
                                                 src="{{as.getImageGauche600x250path()}}"

                                                 class="img-responsive center-block" alt="/">
                                        </a>

                                    </div>
                                    <div class="caption">
                                        <p class="product-name">
                                            {{ as.getMarque().getNomMarque() }}
                                        </p>
                                        <p class="product-price">
                                            {{ as.description }}
                                        </p>
                                        {% if as.enStock == 1 %}
                                            <p class="product-price">
                                                En stock
                                            </p>
                                        {% else %}
                                            <p class="product-price">
                                                Stock épuisé
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {#closing the row #}
                        {% if loop.index  is divisible by(3) %}
                            </div><div class="row">
                        {% endif %}

                        {% endfor %}

                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html.twig' %}
</div>

<script src="assets/switcher/js/dmss.js"></script>

<script src="js/jquery-ui.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/wow.min.js"></script>

<!--bootstrap-select -->
<script src="assets/bootstrap-select/bootstrap-select.min.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Countdown Timer -->
<script src="assets/countdown/dscountdown.min.js"></script>

<!--Owl Carousel-->
<script src="assets/owl-carousel/owl.carousel.min.js"></script>

<!--bx slider-->
<script src="assets/bxslider/jquery.bxslider.min.js"></script>

<!-- slider-pro-master -->
<script src="assets/slider-pro-master/js/jquery.sliderPro.min.js"></script>

<script src="js/jquery.spinner.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3" type="text/javascript"></script>
<script src="js/map.js" type="text/javascript"></script>

<script src="assets/header/slidebar.js" type="text/javascript"></script>
<script src="assets/header/header.js" type="text/javascript"></script>


<script src="js/theme.js"></script>

</body>
</html>
