{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% if object.getImageGauche800X350path() is not null %}
        <img class="img-responsive"  src="{{asset(object.getImageGauche800X350path())}}"/>

    {% endif %}
{% endblock field %}