{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% if object.getImageDroite800X350path() is not null %}
        <img class="img-responsive"  src="{{asset(object.getImageDroite800x350path())}}"/>
    {% endif %}
{% endblock field %}