{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}


{% if object.getImageGauche600X250path() is not null %}
    <img class="img-responsive"  src="{{asset(object.getImageGauche600x250path())}}"/>
    {% endif %}
{% endblock field %}