<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExtraOptic - C'est Extra !</title>
    <link href="../css/master.css" rel="stylesheet">


    <style>
            #details{
                z-index: 1;
            }
            @media screen and (max-width: 640px) {

            .b-page-header-mod{
                height:310px;
            }
            #details {
                top: 210px !important;
            }
            .section-product{
                top:50px;
                margin-bottom: 0px;
            }
            .section-product .b-page-header-mod {
                margin-bottom: 0px;
            }
        }
    </style>

</head>
<body>


<!-- Loader
<div id="page-preloader"><span class="spinner"></span></div>
<!-- Loader end -->



<div > <!---class="b-page" canvas="container"-->

    <header class="header


				header-topbar-hidden

				header-normal-width


				header-menu-middle


				header-color-black
				header-logo-black

				header-topbarbox-1-left
                ">


    </header>



    {% include 'navbar.html.twig' %}


    <section class="section-product">
        <div class="container">
            <div  class="b-page-header-mod">

                {% include 'ArticleBundle::article.html.twig' %}

                <div id="details" class="b-hat wow fadeInDown">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <h1 class="page-title">
                                {{  article.getMarque().getNomMarque()  }}

                            </h1>
                            <br>
                            <div class="b-breadcrumbs">
                                <ul class="list-unstyled">
                                    <li>
                                       <span>
                                           {{  article.description  }}
                                        </span>
                                    </li>
                                    <br>
                                    {% if article.enStock == 1 %}
                                        <li class="product-price">
                                            En stock
                                        </li>
                                    <br>
                                    <br>
                                        <a href="#" class="btn btn-info">
                                            <span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier
                                        </a>

                                    {% else %}
                                        <li class="product-price">
                                            Stock épuisé
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-long">

            <div class="b-rb-card-">
                <div class="container">
                    <div class="row">

                        {%  if articlesSimilaires|length !=1 %}
                            <div class="heading-big text-center wow fadeInUp">
                                <div class="heading-icon">
                                    <span class="ef icon_gift_alt"></span>
                                </div>
                                <h2>
                                    <strong>Articles similaires</strong>
                                </h2>
                            </div>
                        {%  for as in articlesSimilaires %}
                            {%  if article.getId() != as.getId() %}
                            <div class="col-md-4 col-sm-4 wow fadeInLeft">
                                <div class="b-item-card-mod">
                                    <div class="product-image">
                                        <a href="/article/{{as.getArticleUrl()}}">
                                            <img style="height:190px;width:250px;"
                                                 src="{{asset(as.getImageGauche600x250path())}}"

                                                 class="img-responsive center-block" alt="/">
                                        </a>

                                    </div>
                                    <div class="caption">
                                        <p class="product-name">
                                            {{ as.getMarque().getNomMarque() }}
                                        </p>
                                        <p class="product-price">
                                            {{ as.description }}
                                        </p>
                                        {% if as.enStock == 1 %}
                                        <p class="product-price">
                                            En stock
                                        </p>
                                        {% else %}
                                                <p class="product-price">
                                                    Stock épuisé
                                                </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {%  endif%}
                        {% endfor %}
                        {%  endif%}
                   </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html.twig' %}
</div>

<script src="../assets/switcher/js/dmss.js"></script>

<script src="../js/jquery-ui.min.js"></script>
<script src="../js/modernizr.custom.js"></script>
<script src="../js/wow.min.js"></script>

<!--bootstrap-select -->
<script src="../assets/bootstrap-select/bootstrap-select.min.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


<!-- slider-pro-master -->

<script src="../js/jquery.placeholder.min.js"></script>
<script src="../http://maps.googleapis.com/maps/api/js?v=3" type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3" type="text/javascript"></script>
<script src="../js/map.js" type="text/javascript"></script>
<script src="../assets/header/slidebar.js" type="text/javascript"></script>
<script src="../assets/header/header.js" type="text/javascript"></script>

<script src="../js/theme.js"></script>

</body>
</html>
