/*------------------------------------------------------------------
- RESPONSIVE CSS

- header
- header-nav
- footer
- shop

- Project:   ShopOne - Furniture Store HTML Template
- Version:   1.1
- Author:    Andrey Sokoltsov
- Profile:   http://themeforest.net/user/andreysokoltsov
-------------------------------------------------------------------*/

/*header*/
@media screen and (max-width: 767px) {
	.wrap-fixed-menu {
	display: none !important;
}
}
/* header-nav */
@media screen and (min-width: 768px) and (max-width: 991px) {
	#cart-wrapper {
	text-align: center;
	margin-bottom: 10px;
}
#cart-wrapper .b-cart {
	display: inline-block;
	float: none !important;
}
#cart-wrapper .b-cart .cart-products {
	right: -50%;
}
}
@media screen and (max-width: 767px) {
	.b-top-line {
	padding: 25px 0 15px;
	min-height: 165px;
}
.b-top-line .top-holder {
	display: table;
}
.b-top-line .pull-left {
	float: none !important;
	display: table-footer-group;
	text-align: left;
}
.b-top-line .header-logo {
	width: 100%;
	position: static;
	margin: 0;
	display: table-header-group;
}
.b-top-line .pull-right {
	display: table-header-group;
	float: none !important;
}
.b-top-line .cart-wrapper {
	text-align: center;
}
.b-top-line .cart-wrapper .search-wrapper {
	width: 70%;
	text-align: left;
}
.b-top-line .cart-wrapper #search {
	width: 100%;
}
.b-top-line .cart-wrapper #search input {
	width: 100%;
	position: static;
	opacity: 1;
}
.b-top-line .cart-wrapper .iconSearch {
	display: none;
}

.nav-wrapper {
	padding: 0;
	position: absolute;
	z-index: 999;
	top: -100%;
	background: #333;
}
.nav-wrapper.nav-mobile {
	position: fixed;
	top: 0;
	z-index: 99999;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding: 15px 15px 0;
}
.nav-wrapper.nav-mobile .b-header-menu {
	padding-top: 45px;
}
.close-menu-mobile {
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 3;
	margin-bottom: 10px;
}
.nav-wrapper .b-header-menu ul li {
	display: block;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	padding-left: 0;
	padding-right: 0;
}
.nav-wrapper .b-header-menu ul li:first-child {
	border-top: 1px solid #cccccc;
}
.nav-wrapper .b-header-menu ul li:after {
	display: none;
}
.nav-wrapper .b-header-menu ul a {
	color: #fff;
	display: block;
	padding: 15px;
	position: relative;
	font-size: 16px;
}
.nav-wrapper .b-header-menu .dropdown-menu a {
	font-size: 14px;
	text-transform: none;
	padding: 10px 5px;
}
.nav-wrapper .b-header-menu .dropdown-menu a:after {
	display: none !important;
}
.nav-wrapper .b-header-menu ul li.dropdown a:after {
	font-family: FontAwesome;
	content: "\f107";
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6px;
	font-size: 16px;
	line-height: 1;
}
.nav-wrapper .b-header-menu ul li.open >a {
	color: #d8942c;
}
.nav-wrapper .b-header-menu ul li .dropdown-menu {
	background: none;
	box-shadow: none;
	border: none;
	position: relative;
	z-index: 99999;
	padding: 5px 0 5px 25px;
	float: none;
	display: block;
	opacity: 1;
	height: auto;
}
.nav-wrapper .b-header-menu ul li.open .dropdown-menu a:after{
	display: none;
}
.nav-wrapper .dropdown-menu li {
	border-top: 1px solid #cccccc;
	border-bottom: none;
}
.nav-wrapper .dropdown-menu li:last-child {
	border-top: none;
	border-bottom: none;
}
}
/* END header-nav */
/* END header */
/* footer */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.b-footer-body .footer-menu-item ul {
	margin-right: 25px;
}
.b-footer-body .b-logo {
	margin-bottom: 10px;
}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.col-sm-6.text-center {
	text-align: right !important;
}
}
@media screen and (max-width: 991px) {
	.b-footer-body .col-sm-12,
	.b-footer-body .b-text,
	.b-footer-body p {
	text-align: center !important;
}
.b-footer-body .footer-menu-item ul {
	margin-right: 50px;
	margin-bottom: 25px;
}
.b-footer-body .b-logo {
	margin-bottom: 10px;
}
}
@media screen and (max-width: 767px) {
	footer .b-footer-subsc {
	padding-top: 0;
	margin-bottom: 25px;
}
footer .b-footer-subsc .subsc-title {
	margin-bottom: 12%;
}

.b-footer-body .text-center,
.b-footer-body .b-text {
	text-align: left !important;
}
.b-footer-body .b-text p {
	text-align: left !important;
}
}
/* end footer*/
/* home*/
@media screen and (max-width: 1199px) {
	.single-home-img.single-home1 {
	margin-bottom: 15px;
}

.single-home-img.single-home2 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.b-main-categories {
	padding-bottom: 50px;
}
.b-main-categories .categories-title {
	bottom: -100px;
}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.b-main-categories .categories-title {
	bottom: -85px;
}
}
@media screen and (max-width: 767px) {
	.b-main-categories .b-main-cat {
	margin-bottom: -95px;
}
.b-main-categories .cat1 .b-image,
.b-main-categories .cat2 .b-image {
	margin: 0;
}

.b-main-categories .categories-title {
	position: relative;
	bottom: 100px;
	width: 100%;
	margin-left: 0px !important;
	margin-right: 0px;
}

.b-main-categories {
	margin: inherit;
	padding: inherit;
}

.b-items-sort {
	text-align: center;
}
.b-items-sort li {
	margin: 0 5px 15px;
}
.b-items-sort li:last-child {
	margin: 0 5px 15px;
}

.b-home-bestsellers .b-items-sort li {
	margin: 0 5px 5px;
}

.b-reviews .text-right {
	text-align: center !important;
}

.features-item .feature-text {
	max-width: 190px;
}

.features-item-mod {
	margin-bottom: 10px;
}

.b-weeks h3, .b-weeks .btn {
	margin: 0;
}

.b-weeks {
	padding-top: 65px;
}
.b-weeks .col-xs-12:first-child {
	margin-bottom: 25px;
}
.b-weeks .col-xs-12 {
	text-align: center;
	margin-bottom: 25px;
}

.b-countdown {
	margin-right: 0;
}
}
@media screen and (max-width: 479px) {
	.b-main-categories-2 .col-xs-4,
	.b-main-categories-2 .col-xs-8 {
	width: 100% !important;
}

.b-countdown {
	margin-top: 25px;
	text-align: center;
}

.ds-custom .ds-element {
	float: none;
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 15px;
}

.ds-custom .ds-element:last-child {
	margin-right: 15px;
}

.featured-mod-holder .col-xs-3,
.featured-mod-holder .col-xs-6 {
	width: 100% !important;
}
.featured-mod-holder .featured-big {
	margin: 0;
}
}
/* end home*/
/* shop */
@media screen and (max-width: 1199px) {
	.b-filters {
	margin: 0 0 25px;
}
}
@media screen and (max-width: 991px) {
	.filters-options .bootstrap-select {
	margin-right: 5px;
	margin-bottom: 10px;
}

.filters-options,
.view-options {
	float: none !important;
	margin-bottom: 15px;
}
.ez-item {
	margin: 0;
}
}
@media screen and (max-width: 759px) {
	.b-ezy {
	margin-bottom: 25px;
}
.ez-item .b-item-card .product-image {
	min-width: auto;
	width: 155px;
}
.ez-item .b-item-card .product-image .bx-wrapper{
	max-width: 155px !important;
}
}
@media screen and (max-width: 479px) {
	.b-category-grid .col-xs-6 {
	width: 100% !important;
}
.b-ez-holder {
	text-align: left !important;
}
.ez-item {
	margin: 0;
	display: block;
	padding: 0 10px;
}
.ez-item .b-item-card {
	min-height: auto;
	margin-bottom: 5px;
	position: relative;
}
.special-plank {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.ez-item .b-item-card .caption {
	float: right;
	position: static;
	width: 45%;
}

.b-cat-deal .deal-img {
	width: 100%;
}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.product-info .b-add {
	margin-top: 25px;
}
}
@media screen and (max-width: 767px) {
	.b-product-details .product-image {
	margin-bottom: 25px;
}
}
@media screen and (max-width: 556px) {
	.product-info .col-xs-6 {
	width: 100% !important;
}
.product-info .b-add {
	margin-top: 25px;
}
}
@media screen and (max-width: 479px) {
	.b-product-description {
	border: none;
}

.product-tabs .nav-tabs li {
	float: none;
	display: block;
	margin-right: 0;
}

.b-related .col-xs-6 {
	width: 100% !important;
}
}
/* shopping cart*/
@media screen and (max-width: 1000px) {


	html .col-header-center-right {
	border: 1px solid #eee;
	display: inline-block;
	float: none !important;
	margin-top: 25px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-top: 20px;
	text-align: right;
	width: 100%;
}
.navbar-nav.headerMob.hidden-xs{
	display: none !important;
}

html .search-global__input {
	width: 100%;
	font-size: 12px;
}

html .search-global__btn {
	right: 0;
	top: -12px;
}

html .col-header-center-right a {
	float: right;
}

html .col-header-center-right .btn_header_search{
	float: left;
}
.check-position {
	margin-bottom: 15px;
}

.cart-buttons button {
	margin-bottom: 15px;
}
}
/* checkout */
@media screen and (max-width: 1199px) {
	.b-order-payment {
	padding-left: 0;
}
}
@media screen and (max-width: 991px) {
	.b-payment .b-payments {
	display: block;
	margin: 8px 0;
}
}
/* end shop */
/* sections */
@media screen and (max-width: 767px) {
	.lb-content {
	margin-top: 40px;
}
}
@media screen and (max-width: 479px) {
	.b-accordion .ui-accordion-header {
	padding: 18px 55px 13px 27px;
}
.b-accordion .accordion-toogle {
	position: absolute;
	right: 12px;
	margin-top: -30px;
	float: none;
}
.b-accordion .ui-accordion-content .accordion-img {
	float: none;
	margin: 0;
}
}
/* blog-main */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.post-author li {
	margin-right: 5px;
}
}
@media screen and (max-width: 1199px) and (min-width: 1001px) {
	.hiddenNavItem{
		display: none !important;
	}
}
@media screen and (max-width: 479px) {
	.post-caption {
	padding: 30px 0 0;
	margin: -15px 15px 0;
}

.post-author li {
	margin-right: 5px;
	margin-bottom: 5px;
}
.b-instagram {
	text-align: center;
}
.b-instagram a {
	margin-right: -1px;
}
}
/* blog-post */
@media screen and (max-width: 555px){
	.b-post-tags-holder .pull-left,
	.b-post-tags-holder .pull-right {
		float: left !important;
	}
	.b-post-tags-holder .b-socials {
		margin-left: 8px;
		margin-top: 5px;
	}
}
@media screen and (max-width: 479px) {
	.section-blog-post .b-blockquote-fa-quote {
		padding: 38px 0 35px;
	}

	.comment-item .comment-author .reply {
		display: block;
		padding: 15px 10px;
	}
}

/* contact page */
@media screen and (max-width: 1199px){
	.b-contact-info p span{
		padding-left: 0 !important;
		display: block;
	}
}
