/*------------------------------------------------------------------
[Table of contents]

 - Global typography css

- Project:  ShopOne - Furniture Store HTML Template
- Version:  1.1
- Author:   Andrey Sokoltsov
- Profile:  http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #FF0000 !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #a0a0a0;
}

p {
  color: #a0a0a0;
}

.b-logo {
  display: inline-block;
}
.b-logo a {
  display: inline-block;
  letter-spacing: 1.1px;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.b-logo a:hover {
  opacity: .7;
}
.b-logo a h5 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 3px;
  position: relative;
}
.b-logo a h5:before {
  content: '';
  display: block;
  width: 14px;
  height: 1px;
  margin: -2px auto 0;
}
.b-logo a p {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

.heading h2 {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 27px;
  position: relative;
}
.heading h2:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -7px;
}
.heading h2:before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -16px;
}

.heading-line h2, .heading-line-mod h2, .heading-line-long h2 {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 27px;
  position: relative;
}
.heading-line h2:before, .heading-line-mod h2:before, .heading-line-long h2:before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.heading-line-mod h2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.3px;
  padding-top: 20px;
  padding-bottom: 0;
}
.heading-line-mod h2:before {
  width: 25px;
  height: 2px;
  background: #999999;
}

.heading-big {
  margin-bottom: 50px;
}
.heading-big .heading-icon {
  border-bottom: 2px solid #f7f7f7;
  position: relative;
  margin-bottom: 20px;
}
.heading-big .heading-icon .ef {
  font-size: 18px;
  position: absolute;
  width: 100px;
  color: #666666;
  background: #fff;
  left: 50%;
  margin-left: -50px;
  top: -8px;
}
.heading-big h2 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 25px;
  position: relative;
  line-height: 1;
}
.heading-big h2 span {
  display: block;
  font-size: 14px;
  color: #666666;
  padding: 11px 0;
  margin: 0;
}
.heading-big h2:after {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -7px;
}
.heading-big h2:before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -16px;
}

.heading-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #777777;
}

.heading-light-merri {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: #777777;
}

.heading-bold-merri {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.heading-line-long {
  float: left;
}
.heading-line-long:before {
  width: 100%;
  margin-left: -95%;
}

h3.heading-line, h3.heading-line-mod, h3.heading-line-long {
  font-size: 22px;
}

.b-form-description p {
  color: #888888;
  font-size: 14px;
}

.b-text {
  margin-bottom: 50px;
}
.b-text p {
  text-align: justify;
  font-size: 11px;
  line-height: 2.3;
}

.week-deal-info .title {
  padding-top: 25px;
  margin: 0 0 5px;
  position: relative;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
}
.week-deal-info .title:before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: #999999;
  position: absolute;
  top: 0;
  left: 0;
}
.week-deal-info p {
  font-size: 30px;
  color: #333333;
  margin-bottom: 25px;
}
