.yamm.nav>li>a:focus, .yamm.nav>li>a:hover {
	    color: #222222 !important;
    background: none;
}


.demo_changer .demo-icon {
  background: #222222;
}

a:hover {
  color: #222222;
}

.b-logo h5:before {
  background: #222222;
}
.b-logo h5 span {
  color: #222222;
}

/*headings*/
.heading h2:before, .heading h2:after {
  background: #222222;
}

.heading-line h2:before {
  background: #222222;
}

.heading-big h2:after {
  background: #222222;
}
.heading-big h2:before {
  background: #222222;
}

.week-deal-info .title {
  color: #222222;
}

/* page header */
.b-page-header .b-breadcrumbs li:after,
.b-page-header-mod .b-breadcrumbs li:after {
  color: #222222;
}
.b-page-header .b-breadcrumbs a:hover,
.b-page-header-mod .b-breadcrumbs a:hover {
  color: #222222;
}
.b-page-header .b-breadcrumbs span,
.b-page-header-mod .b-breadcrumbs span {
  color: #222222 !important;
}

.main-slider .sp-buttons .sp-selected-button,
.main-slider .sp-buttons .sp-button:hover {
  background: #222222;
  border-color: #222222;
}

/* home */
.b-home-big-text h4 {
  color: #222222;
}

.b-main-categories .categories-title h5 {
  color: #222222;
}

.b-main-cat:hover .solo-arrow {
  color: #222222;
}
.b-main-cat:hover .solo-arrow-left {
  color: #222222;
}

.b-parallax .heading h2 {
  color: #222222;
}

.b-items-sort li.active-filt {
  color: #222222;
}
.b-items-sort li:hover {
  color: #222222;
}

.b-home-deal h2 {
  color: #222222;
}

.latest-news-item .post-author li,
.b-latest-news-list .post-author li {
  color: #222222;
}

/* home-2 */
.shop-now-item .caption .product-deal {
  color: #222222;
}

/* blog */
.post-title a:hover {
  color: #222222;
}

.post-author .ef {
  color: #222222;
}

.b-related-posts .post-author li {
  color: #222222;
}

/* side-nav */
.lb-content .b-list li:hover:before, .lb-content .b-list li:hover a {
  color: #222222;
}

/* shop */
div.b-item-card:hover {
  outline-color: #222222;
}

div.b-item-card-mod:hover .product-image {
  border-color: #222222;
}

.overview-spec .ef {
  color: #222222;
}

.check-position.current-check .ef {
  color: #222222;
}

.product-price {
  color: #222222;
}

.caption .product-price {
  color: #222222;
}

/* header */
#cart .counter {
  background: #222222;
}

.b-header-menu a:hover {
  color: #222222 !important;
}

/*END header*/
/* footer */
.subsc-title h4 {
  color: #222222;
}

.footer-menu-item a:hover {
  color: #222222;
}

/*END footer*/
.heading-line::before {
  background: #222222;
}

.btn-tag.active, .btn-tag:hover {
  background: #222222;
  color: #fff;
}

.b-tags-post .btn-tag.active, .b-tags-post .btn-tag:hover {
  color: #222222;
}

.tags-buttons .btn-tag:hover {
  background: #222222;
}

/* tabs */
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #222222;
}

/* tables */
.table-striped thead tr td {
  border-color: #222222 !important;
}

.table-mod thead tr td span::after {
  background: #222222;
}

/* price-slider filter*/
.ui-slider-horizontal .ui-slider-range {
  background: #222222;
}

.ui-slider .ui-slider-handle {
  background: #222222;
}

/* buttons */
.btn-primary {
  background: #222222;
  border-color: #222222;
}
.btn-primary:hover {
  border-color: #222222;
}

.btn-default:hover,
.btn-default-arrow:hover {
  border-color: #222222;
}

.btn-primary-arrow {
  background: #222222;
  border-color: #222222;
}
.btn-primary-arrow:hover {
  border-color: #222222;
}

.solo-arrow:hover {
  color: #222222;
}

.btn-reply {
  color: #222222;
}

.btn-reset-filter:hover {
  border-color: #222222;
}

.btn-add:hover {
  border-color: #222222;
  color: #222222;
}

/* buttons socials */
.b-socials a:hover {
  color: #222222;
}

/* item card buttons */
.b-card-buttons ul a:hover {
  background: #222222;
}

/* pagination */
.pagination .active a {
  background: #222222;
}
.pagination li a:hover {
  background: #222222;
}

.pagination-mod-1 .pag-prev a:hover, .pagination-mod-1 .pag-prev a:focus,
.pagination-mod-1 .pag-next a:hover,
.pagination-mod-1 .pag-next a:focus,
.pagination-mod-2 .pag-prev a:hover,
.pagination-mod-2 .pag-prev a:focus,
.pagination-mod-2 .pag-next a:hover,
.pagination-mod-2 .pag-next a:focus,
.pagination-mod-3 .pag-prev a:hover,
.pagination-mod-3 .pag-prev a:focus,
.pagination-mod-3 .pag-next a:hover,
.pagination-mod-3 .pag-next a:focus {
  color: #222222;
}

/*checkbox/radio*/
.checkbox-1 input[type=checkbox]:checked + label:before {
  color: #222222;
}

.radio1 label:before {
  background: #222222;
}

/* progress bar */
.progress.progress-color2 .progress-bar {
  background: #222222;
}

.progress-mod.progress-color2 {
  border: 2px solid #222222;
}
.progress-mod.progress-color2 .progress-bar {
  background: #222222;
}

/*highlight*/
.highlight-primary {
  background: #222222;
  color: #fff;
}

.highlight-secondary {
  background: #444444;
  color: #fff;
}

.highlight-dotted {
  background: #fff;
  outline: 1px dotted #878787;
}

.highlight-primary-nobg {
  color: #222222;
}

.highlight-secondary-nobg {
  color: #000000;
}

/* tooltips */
.color-tooltip {
  color: #222222;
}

/* lists */
.b-list.check-circle-o li:before {
  color: #222222;
}

.b-list.l-checked .l-check:before {
  color: #222222;
}
.b-list.l-checked .l-not-check:before {
  color: #222222;
}

.b-list.l-numered span {
  color: #222222;
}

/*Dropcap styles*/
.b-round-dropcap .round-dropcap {
  background: #222222;
}

.b-square-dropcap .square-dropcap {
  background: #222222;
}

/*Blockquote Style*/
.b-blockquote-fa-quote .quote-icon {
  color: #222222;
}

.b-blockquote-left-border:before {
  background: #222222;
}

/*Accordion*/
.b-accordion .ui-accordion-header.ui-state-active {
  background: #222222;
  border-color: transparent;
}
.b-accordion .ui-accordion-content {
  border-color: #222222;
}
